body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Grande', sans-serif;
}

a:link {
  color: #9cf;
}

a:visited {
  color: #9cf;
}

a:hover {
  color: #fff;
}

div#head {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #036;
}

div#head div#menu {
  float: right;
  text-align: right;
}

div#head h1 {
  margin: 0;
  padding: 32px;
  color: #fff;
  font-size: 2em;
}

div#main {
  padding: 0 32px;
}

div#input {
  border-bottom: 1px solid #036;
}

div.site {
  background-color: #bbb;
  color: #036;
  margin: 8px;
  padding: 8px;
  display: inline;
  float: left;
}

div.site img {
  border: none;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  float: left;
}

div.site p.msg {
  margin: 0 0 0 32px;
  padding: 0;
  color: #fff;
}

/*
div.site span.ok {
  color: green;
}

div.site span.ng {
  color: red;
}
*/

span.id {
  font-size: 1.6em;
}

span.availability {
  font-size: 1.8em;
}
